.top-nav {
    width: 100%;
    height: var(--top-nav-height);
    background-color: var(--nav-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0px;
    z-index: 100;
}

.top-nav-offset {
    height: var(--top-nav-height);
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: row;
}

.main-content {
    /* padding-left:55px;
    padding-right:55px; */
    padding-top:25px;
    width: 100%;
    min-height: calc(100vh - var(--top-nav-height));

}