<h2>Applicant</h2>
<hr>
<app-back-button [classNames]="'mb-2 me-2'"></app-back-button>
<div class="card">
    <h5 class="card-header text-center">
      Applicant Details
    </h5>
    <div class="card-body">
        <div class="applicant-form-container">
            <div class="applicant-form-group">
                <div class="applicant-form-label">
                    <label>First Name:</label>
                </div>
                <div class="applicant-form-value">
                    {{ applicant?.firstName }}
                </div>
            </div>
            <div class="applicant-form-group">
                <div class="applicant-form-label">
                    <label>Last Name:</label>
                </div>
                <div class="applicant-form-value">
                    {{ applicant?.lastName }}
                </div>
            </div>
            <div class="applicant-form-group">
                <div class="applicant-form-label">
                    <label>Email Address:</label>
                </div>
                <div class="applicant-form-value">
                    {{ applicant?.email }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <h5 class="card-header text-center">
        Positions Applied For
    </h5>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Position ID</th>
                    <th>Position</th>
                    <th>Date Applied</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let positionApplication of applicant?.positionApplications">
                    <tr *ngIf="positionApplication.finishedAt !== undefined" class="selectable" [routerLink]="['/position', positionApplication.position?.id, 'applicants']">
                        <td>{{ positionApplication.position?.id }}</td>
                        <td>{{ positionApplication.position?.name }}</td>
                        <td>{{ dateService.formatLocaleString(positionApplication.finishedAt) }}</td>
                        <td>TBD</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-2">
    <h5 class="card-header text-center">
        Notes
    </h5>
    <div class="card-body">
        <p *ngIf="!applicant?.applicantNotes?.length">There are no notes for this applicant.</p>
        <ul *ngIf="applicant?.applicantNotes?.length"  class="list-group">
            <table class=table>
                <thead>
                    <tr>
                        <th class="applicant-note">Note</th>
                        <th class="applicant-note-createdby">Created By</th>
                        <th class="applicant-note-createdat">Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let applicantNote of applicant?.applicantNotes">
                        <td class="applicant-note">{{ applicantNote.content }}</td>
                        <td class="applicant-note-createdby">{{ userService.buildName(applicantNote.creator) }}</td>
                        <td class="applicant-note-createdat">{{ dateService.formatLocaleString(applicantNote.createdAt) }}</td>
                    </tr>
                </tbody>
            </table>
        </ul>
    </div>
</div>